header {
    width: 100%;
    background-color: #05001E;
    height: 90px;
}

.header .content {
    padding: 10px 50px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-items {
    list-style: none;
    display: flex;
}

.list-items li {
    padding: 0 20px;
}

.list-items li a {
    font-size: 1.3rem;
}

